.header {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
    max-width: 1200px;
}

.menuItem {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.mainMenu {
    display: flex;
    align-items: center;
    position: absolute;
}

.loginMenu {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.registerMenu {
    display: flex;
    align-items: center;
    visibility: visible;
    position: absolute;
    right: 50px;
    top: 25px;
}

.fa-regular {
    cursor: pointer;
}

.fa-solid {
    cursor: pointer;
}

.square {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: red;
    height: 10px;
}