<!--
<div class = "header"> 
    <div class = "mainMenu">
        <div class = "menuItem">Homem</div> | <div class = "menuItem">Mulher</div> 
        <div class = "logo">
            <a href ="#"><img src="../../assets/img/H&M-Logo.svg" width="100px" height="50px"></a>
        </div>
        <div class = "menuItem">Criança</div> | <div class = "menuItem">Acessórios</div>
    </div>
    <div class = "loginMenu">
        <i class="fa-regular fa-clipboard fa-lg" style = "margin-left: 100px; margin-right: 20px;"></i>
        <i class="fa-regular fa-user fa-lg" style = "margin-right: 20px;"></i>
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
    </div>
    <div class = "registerMenu">
        <i class="fa-solid fa-user-plus fa-lg"></i> 
        <i class="fa-solid fa-arrow-right-to-bracket fa-lg" style = "margin-left: 20px;"></i>
    </div>
</div>
-->

<nav class= "navbar navbar-expand-lg navbar-light">
    <div class="container-fluid header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mainMenu">
                <li class="nav-item dropdown"><a class="nav-link" href="#">Homem</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Casacos</a>
                        <a class="dropdown-item" href="#">Camisas</a>
                        <a class="dropdown-item" href="#">Calças</a>
                        <a class="dropdown-item" href="#">Sweatshirts</a>
                        <a class="dropdown-item" href="#">Polos</a>
                        <a class="dropdown-item" href="#">Sapatos</a>
                        <a class="dropdown-item" href="#">Todos</a>
                    </div>
                </li>
                <li class="nav-item"><p>|</p></li>
                <li class="nav-item dropdown"><a class="nav-link" href="#">Mulher</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Vestidos</a>
                        <a class="dropdown-item" href="#">Blusões</a>
                        <a class="dropdown-item" href="#">Coletes</a>
                        <a class="dropdown-item" href="#">Jeans</a>
                        <a class="dropdown-item" href="#">Saias</a>
                        <a class="dropdown-item" href="#">Calções</a>
                        <a class="dropdown-item" href="#">Lingerie</a>
                        <a class="dropdown-item" href="#">Sapatos</a>
                        <a class="dropdown-item" href="#">Malas</a>
                        <a class="dropdown-item" href="#">Todos</a>
                    </div>
                </li>

                <li><a href ="#"><img src="../../assets/img/H&M-Logo.svg" width="100px" height="50px"></a></li>
                <li class="nav-item dropdown"><a class="nav-link" href="#">Criança</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Menina | 6-14 Anos</a>
                        <a class="dropdown-item" href="#">Menino | 6-14 Anos</a>
                        <a class="dropdown-item" href="#">Bebé Menina | 3 Meses - 5 Anos</a>
                        <a class="dropdown-item" href="#">Bebé Menino | 3 Meses - 5 Anos</a>
                        <a class="dropdown-item" href="#">Mini | 0-12 Meses</a>
                    </div>
                </li>
                <li>|</li>
                <li class="nav-item dropdown"><a href="#" class="nav-link" data-toggle="dropdown">Acessórios</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Malas</a>
                        <a class="dropdown-item" href="#">Pulseiras</a>
                        <a class="dropdown-item" href="#">Aneis</a>
                    </div>
                </li>

            </ul>
        </div>

    <div class = "loginMenu">
        <i class="fa-regular fa-clipboard fa-lg" style = "margin-left: 100px; margin-right: 20px;"></i>
        <i class="fa-regular fa-user fa-lg" style = "margin-right: 20px;"></i>
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
    </div>

    <div class = "registerMenu">
        <i class="fa-solid fa-user-plus fa-lg"></i> 
        <i class="fa-solid fa-arrow-right-to-bracket fa-lg" style = "margin-left: 20px;"></i>
    </div>
    </div>
</nav>