<div class = "header"> 
    <div class = "mainMenu">
        <div class = "menuItem">Homem</div> | <div class = "menuItem">Mulher</div> 
        <div class = "logo">
            <a href ="#"><img src="../../assets/img/H&M-Logo.svg" width="100px" height="50px"></a>
        </div>
        <div class = "menuItem">Criança</div> | <div class = "menuItem">Acessórios</div>
    </div>
    <div class = "loginMenu">
        <i class="fa-regular fa-clipboard fa-lg" style = "margin-left: 100px; margin-right: 20px;"></i>
        <i class="fa-regular fa-user fa-lg" style = "margin-right: 20px;"></i>
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
    </div>
    <div class = "registerMenu">
        <i class="fa-solid fa-user-plus fa-lg"></i> 
        <i class="fa-solid fa-arrow-right-to-bracket fa-lg" style = "margin-left: 20px;"></i>
    </div>
</div>