<div class = "productBrowseContainer" >

    <div class = "leftMenu">
        <div>
            <div class = "leftMenuTopper">Tipo</div>
            <div class = "typeFilter" *ngFor="let type of typeList">
                <p>X - {{ type }}</p>
            </div>
        </div>

        <div class = "leftMenuTopper">Cor</div>
    </div>

    <div class = "rightProductDisplay">

        <div class = "productType">
            <p>{{ currentProductType }}<p>
        </div>

        <div class = "productCount">        
            <p>Total de Resultados: {{ activeProducts.length }}</p>
        </div>

        <div class="viewContainer">
            <div class = "productCard" *ngFor="let product of activeProducts">
                <a [routerLink]="['/productDetail', product.id ]" routerLinkActive="active" >
                    <app-product-card [productInfo]="product"></app-product-card>
                </a>

                <div class = "star" (click)="addToWishlist(product.id!)">
                    <i class="far fa-star" *ngIf="!starActive"></i><i class="fas fa-star" *ngIf="starActive"></i>
                </div>

            </div>
        </div>

        <div class = "viewMore" *ngIf = "activeProducts.length > 6">
            Ver Mais
        </div>
    </div>
</div>
