.title {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.highlightProduct {
    max-width: 300px;
    max-height: 400px;
}

